/* HEADER */

body {
	background: #dcd6cc;
	margin:0;
	padding: 0;
}

::selection {
    background:#6e8153;
    color:white;
}

h1 {
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 150px;
    font-weight: normal;
    text-align: center;
    padding: 50px;
    margin:0;
}

@media all and (max-width: 1440px) {
	header {
		height: 90px;
	}
}


/* FORMULAIRE */

#form {
	font-family: 'Roboto', sans-serif;
}

.background-form {
	max-width:450px;
	height:450px;
	background: white;
	margin: auto;
	position: relative;
}

form {
	position: absolute;
	max-width:450px;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 2px;
	margin-top: 90px;
}


#nom, #mdp {
	display: flex;
	flex-direction: column;
	width: 335px;
	height: 24px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 10px;
}

.button {
	font-family: 'Roboto', sans-serif;
	background:#6e8153;
	width:120px;
	height:50px;
	color: white;
	border: none;
	margin-top: 35px;
	font-size: 12px;
	letter-spacing: 2px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.error-msg {
	text-align: center;
}

@media all and (max-width: 1440px) {
	#form {
		margin-top: 0;
		padding: 50px;
	}
	#nom, #mdp {
		height: 20px;
	}
}


/* FOOTER */

footer {
	position: relative;
	max-width: 100%;
	height: 100px;
}

footer p {
	position: absolute;
	bottom: 0;
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 12px;
	left: 50%;
	transform: translateX(-50%);
}

@media all and (max-width: 1440px) {
	footer {
		height: 90px;
	}
}
