
html body {
	margin:0;
	padding: 0;
}

::selection {
        background:#6e8153;
        color:white;
}


/* HEADER */

header {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	background: #dcd6cc;
}

.title {
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 150px;
	font-weight: normal;
	text-align: center;
}

nav {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 12px;
	margin: auto;
	margin-top: -40px;
}

nav ul {
	list-style-type: none;
	display: inline-flex;
	margin: 0;
	padding: 0;
}

nav li {
	padding-left: 20px;
	padding-right: 20px;
}

a  { 
	text-decoration: none; 
	color: inherit;
} 

a:hover{
	border-bottom : 1px solid black;
}

@media all and (max-width: 1440px) {
	header {
		padding-top: 15px;
	}

	.title {
		font-size: 130px;
	}

	nav {
		margin-top: -60px;
	}
}

@media all and (max-width: 1024px) {
	header {
		padding-top: 10px;
	}

	.title {
		font-size: 100px;
	}
}

@media all and (max-width: 770px) {
	.title {
		font-size: 70px;
	}

	nav {
		margin-top: -20px;
	}
}

@media all and (max-width: 480px) {
	.title {
		font-size: 50px;
	}

	nav {
		margin-top: -10px;
	}
}

/* SECTION 1 */

#wrapper-1 {
	padding-top: 200px;
	background: #dcd6cc;
	height: 770px;
}

.container-1 {
	display: flex;
	max-width: 1600px;
	margin:auto;
}

.left-bloc {
	width: 800px;
	height: 900px;
}

.right-bloc {
	font-family: 'Cormorant Garamond', sans-serif;
	width: 300px;
	height: 200px;
	margin-left: 250px;
	text-align: justify;
	display: flex;
	align-self:center;
}

@media all and (max-width: 1440px) {
	#wrapper-1 {
		padding-top: 120px;
	}

	.container-1 {
		max-width: 1100px;
	}

	.left-bloc {
		width: 600px;
		height: 850px;
	}

	.right-bloc {
		margin-left: 180px;
		margin-top: 150px;
	}
}

@media all and (max-width: 1024px) {
	#wrapper-1 {
		padding-top: 100px;
		height: 650px;
	}

	.container-1 {
		max-width: 900px;
	}

	.container-1 img {
		width: 550px;
		height: 750px;
	}

	.left-bloc {
		width: 550px;
		height: 850px;
	}

	.right-bloc {
		margin-left: 100px;
		width: 200px;
		height: auto;
	}
}

@media all and (max-width: 770px) {
	#wrapper-1 {
		padding-top: 80px;
		height: 600px;
	}

	.container-1 {
		max-width: 770px;
	}

	.container-1 img {
		width: 450px;
		height: 670px;
	}

	.right-bloc {
		margin-left: 60px;
		width: 200px;
	}
}

@media all and (max-width: 480px) {
	#wrapper-1 {
		padding-top: 70px;
		height: auto;
		padding-bottom: 40px;
	}

	.container-1 {
		max-width: 480px;
		display: flex;
		flex-wrap: wrap;
	}

	.container-1 img {
		width: 480px;
		margin: auto;
		height: 600px;
	}

	.right-bloc {
		margin-left: 0px;
		padding-top: 40px;
		width: 350px;
		margin: auto;
	}
}



/* SECTION 2 */

.container-2 {
	display: flex;
	max-width: 1600px;
	margin:auto;
	margin-top: 200px;
	padding: 60px;
}

h2 {
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 150px;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.left-art {
	width: 800px;
	text-align: center;
}

.right-art {
	width: 800px;
	display: flex;
	flex-direction: column;
}

.art {
	width: 600px;
	height: 350px;
	margin-left: 100px;
	transition: transform 1s;
}

.art:hover {
	box-shadow: 1px 8px 20px grey;
	-webkit-transition:  box-shadow .4s ease-in;
}

.art-1 {
	margin-top: 70px;
}

.container-art {
	margin-top: 200px;
}

.num-art {
	font-family: 'Roboto', sans-serif;
	writing-mode: vertical-rl;
	text-transform: uppercase;
  	transform: rotate(180deg);
	font-size: 14px;
	letter-spacing: 1px;
	float: left;
	margin-left: 60px;
}

.txt-post {
	font-family: 'Cormorant Garamond', sans-serif;
	margin:auto;
	width: 400px;
	margin-top: 150px;
	text-align: justify;
	
}

button {
	background: black;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	width: 170px;
	height: 50px;
	border:none;
	letter-spacing: 1.5px;
	margin-top: 50px;
}

@media all and (max-width: 1440px) {
	.container-2 {
		max-width: 1100px;
		padding:inherit;
	}

	h2 {
		font-size: 130px;
	}

	.left-art {
		width: 550px;
		text-align: inherit;
	}

	.right-art {
		width: 550px;
	}

	.art {
		width: 500px;
		height: 290px;
		margin-left: 50px;
	}

	.art img {
		width: 500px;
		height: auto;
		transition: transform 1s;
	}

	.art:hover {
		box-shadow: 1px 8px 20px grey;
		-webkit-transition:  box-shadow .4s ease-in;
	}

	.num-art {
		margin-left: 15px;
	}

	.txt-post {
		margin: 0;
		margin-top: 100px;
	}

}

@media all and (max-width: 1024px) {
	.container-2 {
		max-width: 900px;
	}

	h2 {
		font-size: 100px;
	}

	.left-art {
		width: 450px;
		text-align: inherit;
	}

	.right-art {
		width: 450px;
	}

	.art {
		width: 420px;
		height: 245px;
		margin-left: 30px;
	}

	.art img {
		width: 420px;
	}

	.num-art {
		margin-left: 0px;
	}

	.txt-post {
		margin: 0;
		margin-top: 80px;
		width: 370px;
	}
}

@media all and (max-width: 770px) {
	h2 {
		margin:auto;
	}

	.container-2 {
		max-width: 770px;
		display: flex;
		flex-wrap: wrap;
		margin-top: 150px;
	}

	.container-art {
		margin-top:80px;
	}

	.left-art {
		width: 770px;
		text-align: center;
	}

	.txt-post {
		margin: auto;
		width: 370px;
		margin-top: 60px;
	}

	.right-art {
		width: 770px;
		height: auto;
		margin:auto;
	}

	.art {
		width: 550px;
		height: 320px;
		margin-left: 30px;
		margin: auto;
		margin-bottom: 70px;
	}

	.art img {
		width: 550px;
	}

	.art-1 {
		margin-top: 0px;
	}

	.num-art {
		margin-left: 75px;
	}
}

@media all and (max-width: 480px) { 
	h2 {
		font-size: 50px;
	}

	.container-2 {
		max-width: 480px;
		margin-top: 50px;
	}

	.container-art {
		margin-top: 60px;
	}

	.left-art {
		width: 480px;
		text-align: center;
	}

	.txt-post {
		margin: auto;
		width: 350px;
		margin-top: 60px;
	}

	.right-art {
		width: 480px;
		height: auto;
		margin:auto;
	}

	.art {
		width: 480px;
		height: 320px;
		margin-left: 0px;
		margin: auto;
		margin-bottom: 10px;
	}

	.art img {
		width: 480px;
	}

	.art:hover {
		box-shadow: inherit;
		-webkit-transition:  inherit;
	}

	.num-art {
		display: none;
	}
}




/* SECTION 3 */

#wrapper-3 {
	border-top: 4px solid black;
	max-width: 1400px;
	margin:auto;
	margin-top: 90px;
	padding-top: 50px;
	padding-bottom: 25px;
}

h3 {
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 110px;
	font-weight: normal;
	text-align: center;
	padding: 0;
	margin: 0;
}

.under-title-3 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: -5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

.right-tab {
	margin: auto;
	font-family: 'Cormorant Garamond', sans-serif;
	width: 700px;
	text-align: justify;
	padding: 55px;
}

table, td {    
    border-bottom: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 15px;
}

@media all and (max-width: 1440px) {
	#wrapper-3 {
		border-top: 4px solid black;
		max-width: 1100px;
		margin-top: 120px;
	}
}

@media all and (max-width: 1024px) {
	#wrapper-3 {
		max-width: 900px;
	}
}

@media all and (max-width: 770px) {
	#wrapper-3 {
		max-width: 670px;
		margin-top: 50px;
	}

	.right-tab {
		max-width: 600px;
		padding: 0;
		margin-top: 50px;
	}
}

@media all and (max-width: 480px) { 
	#wrapper-3 {
		border: none;
		margin-top: -30px;
	}

	.right-tab {
		max-width: 350px;
		margin-top: 45px;
	}
}

/* SECTION 4 SLIDER */

#wrapper-4 {
	max-width: 1400px;
	margin:auto;
	margin-top: 50px;
	display: flex;
}

#wrapper-4 .num-art {
	margin:auto;
	margin-left: -40px;
	text-transform: initial;
}

.slider {
	width: 1400px;
	height: 600px;
	overflow: hidden;
	box-shadow: 0px 3px 20px grey;
}

.slides {
	width: calc(1400px * 3);
	animation: glisse 10s infinite;
}

.slide {
	float: left;
}

@keyframes glisse {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(0px);
	}
	33% {
		transform: translateX(-1400px);
	}
	43% {
		transform: translateX(-1400px);
	}
	66% {
		transform: translateX(-2800px);
	}
	76% {
		transform: translateX(-2800px);
	}
	100% {
		transform: translateX(0);
	}
}

@media all and (max-width: 1440px) {
	#wrapper-4 {
		max-width: 1100px;
	}

	.slider {
		width: 1100px;
	}
}

@media all and (max-width: 1024px) {
	#wrapper-4 {
		max-width:900px;
		margin-top: 30px;
	}

	.slider {
		width: 900px;
	}
}

@media all and (max-width: 770px) {
	#wrapper-4 {
		max-width:770px;
		margin-top: 60px;
	}

	.slider {
		width: 770px;
		height: 500px;
	}
}

@media all and (max-width: 480px) {
	#wrapper-4 {
		display: none;
	}
}


/* SECTION 5 FOOTER */

#wrapper-5 {
	background: #dcd6cc;
	max-width: 100%;
	margin-top: -100px;
	padding-top: 90px;
}

.container-5 {
	display: flex;
	max-width: 1400px;
	margin:auto;
	padding:100px;
}

.left-contain, .right-contain {
	width: 800px;
}

.right-contain {
	position: relative;
}


h4 {
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 50px;
	font-weight: normal;
	margin:0;
	padding: 0;
	margin-bottom: 20px;
}

label {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.input {
	display: flex;
	flex-direction: column;
	width: 335px;
	height: 24px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 5px;
	border:none;
	border-bottom: 1px solid #D3D3D3;
}

textarea {
	display: flex;
	flex-direction: column;
	width: 335px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 5px;
	border:none;
	border-bottom: 1px solid #D3D3D3;
}

input[type='submit'] {
	background: black;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	width: 130px;
	height: 40px;
	border:none;
	letter-spacing: 1.5px;
}

.p-foot {
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 14px;
	font-style: italic;
}

.rs {
	position: absolute;
	right: 0;
}

.rs p {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}

.rs-icons {
	position: absolute;
	margin: 0;
	padding: 0;
	right: 0;
}

span {
	margin-left: 10px;
	font-size: 17px;
}

@media all and (max-width: 1440px) {
	.container-5 {
		max-width: 1100px;
		padding: 80px;
	}
}

@media all and (max-width: 1024px) {
	.container-5 {
		max-width: 900px;
		padding: 60px;
	}
}

@media all and (max-width: 480px) {
	#wrapper-5 {
		margin-top: 0;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 60px;
	}

	.container-5 {
		max-width: 480px;
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
		text-align: center;
	}

	.left-contain, .right-contain {
		width: 480px;
	}

	.right-contain {
		margin-top: 30px;
	}

	.right-contain, .rs, .rs-icons, .p-foot {
		position: inherit;
		text-align: center;
	}

	.input, textarea {
		margin: auto;
		margin-bottom: 20px;
	}

}
